@use '../base/colors' as *;

.no-results {
  color: $off-white;
  margin: 64px auto 24px auto;
  text-align: center;
}

.results-count {
  @media only screen and (max-device-width: 768px){
    max-width: 80vw;
  }

  color: $off-white;
  max-width: 824px;
  margin: 0 auto;
  margin-bottom: 16px;

  .number {
    font-weight: 500;
  }
}

// Film Card wrapper
.film-card-wrapper {
  @media only screen and (max-device-width: 768px){
    max-width: 80vw;
  }
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 824px;
  margin: 0 auto;
}
