@use '../base/colors' as *;
@use '../base/fonts' as *;

.film-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  max-width: 400px;
  height: 200px;
  background-color: $film-card-gray;

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  .film-details {
    display: block;
    min-width: 138px;
    padding-top: 16px;

    .director {
      font-size: 12px;
      text-transform: uppercase;
      color: $warm-yellow;
      margin-bottom: 4px;
      font-weight: 500;
    }

    .title {
      font-family: $serif;
      color: #f2f2f2;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
    }
  }

  .year {
    display: block;
    width: 49px;
    height: 20px;
    padding: 8px;
    transform: rotate(-270deg);
    margin-top: 32px;
    background-color: $year-tag-gray;

    p {
      color: $off-white;
    }
  }

  .add-icon {
    font-weight: 700;
    color: $off-white;
    font-size: 20px;

    &:hover {
      cursor: pointer;
      color: $warm-yellow;
    }
  }
}

.image-container {
  width: 200px;
  height: 200px;
  background-color: #333333;
  display: block;
  margin-right: 12px;

  div {
    font-family: $sans-serif;
    background-color: $aquamarine;
    color: $off-white;
    padding: 8px;
    border-radius: 8px;
    margin-right: 8px;
  }

  img {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
