// colors
$white: #ffffff;
$near-black: #0d0d0d;
$warm-yellow: #e6b800;
$film-card-gray: #272727;
$year-tag-gray: #1A1A1A;
$dark-gray: #737373;
$off-white: #f2f2f2;
$error-orange: #ff8533;
$aquamarine: #00b3b3;
