@use 'base/colors' as *;
@use 'base/fonts' as *;

@use 'components/login';
@use 'components/navigation';
@use 'components/film_card';
@use 'components/filter';
@use 'components/filter_bar';
@use 'components/all_films';
@use 'components/filter_page';
@use 'components/filter_heading';
@use 'components/my_list';

@import 'react-slideshow-image/dist/styles.css';

// App-wide
body {
  margin: 0;
  background-color: $near-black;
}

p {
  font-family: $sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 8px 0;
  color: $near-black;
}

.page-title {
  color: $white;
}

.slide-container {
  z-index: 0;
  position: relative;
  width: 100%;
  height: auto; // todo make responsive
}

.lower-modules {
  h2 {
    font-family: $sans-serif;
    color: $off-white;
    text-transform: uppercase;
  }
}
