// fonts
$sans-serif: 'Helvetica Neue', Arial, sans-serif;
$serif: 'Georgia', serif;

// colors
$near-black: #0d0d0d;
$warm-yellow: #ffcc00;
$film-card-gray: #404040;
$year-tag-gray: #595959;
$dark-gray: #737373;
$off-white: #f2f2f2;
$aquamarine: #00b3b3;

// App-wide
body {
  margin: 0;
  background-color: $near-black;
}

p {
  font-family: $sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 8px 0;
  color: $near-black;
}

.no-results {
  color: $off-white;
  margin: 64px auto 0px auto;
  text-align: center;
}

// Filter Bar
.filter-bar {
  margin: 0 auto 12px auto;
  width: 100%;
  height: 100px;
  padding: 12px;
  align-items: center;

  h1 {
    margin: 0;
    font-family: $sans-serif;
    font-weight: 400;
    text-align: center;
    color: $off-white;
    text-transform: uppercase;
    padding-bottom: 12px;
  }

  .dropdown-container {
    display: flex;
    justify-content: center;
  }
}

// Filter
.filter {
  width: 150px;
  height: 75px;
  border-radius: 4px;
  text-align: center;

  .label {
    text-transform: capitalize;
    color: $off-white;
  }

  select {
    width: 150px;
    height: 25px;
    letter-spacing: 0.5px;
    border-radius: 15px;
    padding-left: 5px;
  }

  &:not(:last-of-type) {
    margin-right: 12px;
  }
}

// Film Card
.film-card {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  max-width: 400px;
  height: 200px;
  background-color: $film-card-gray;

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  .film-details {
    display: block;
    min-width: 139px;
    padding-top: 16px;

    .director {
      font-size: 12px;
      text-transform: uppercase;
      color: $warm-yellow;
      margin-bottom: 4px;
    }

    .title {
      font-family: $serif;
      color: #f2f2f2;
      font-size: 18px;
      font-weight: 700;
    }
  }



  .year {
    display: block;
    // position: absolute;
    width: 49px;
    height: 20px;
    padding: 8px;
    transform: rotate(-270deg);
    background-color: $year-tag-gray;

    p {
      color: $off-white;
    }
  }
}

.image-container {
  width: 200px;
  height: 200px;
  background-color: #333333;
  display: block;
  margin-right: 12px;

  div {
    font-family: $sans-serif;
    background-color: $aquamarine;
    color: $off-white;
    padding: 8px;
    border-radius: 8px;
    margin-right: 8px;
  }

  img {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
